__pycache__/
*.pyc
.venv/
env/
/.idea/
node_modules/
data/history/*
!data/history/scores.json
!data/history/etf_flows.json
!data/history/daily_vector.json
!data/history/*_history.json
data/debug/
.DS_Store
.env
